fastf1==3.1.6
matplotlib==3.7.1
numpy==1.23.5
pandas==1.5.3
plotly==5.14.1
scikit_learn==1.2.2
seaborn==0.13.0
st_pages==0.4.5
streamlit==1.33.0
streamlit_card==0.0.61
streamlit_extras==0.3.5
streamlit_timeline==0.0.2
timple==0.1.7
scikit-learn==1.2.2
umap-learn==0.5.3
streamfy==0.3.5
